@{
    ViewData["Title"] = "Home";
}
@model ResetPasswordViewModel

<h1>Reset Password</h1>
@if (Model?.Token is null)
{
    if (Model?.Email is null)
    {
        <form asp-action="ResetPassword" method="post">
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-1 col-form-label">Email</label>
                <div class="col-sm-11" style="max-width: 400px">
                    <input type="email" class="form-control" asp-for="Email" placeholder="Enter email address" />
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    }
    else
    {
        <p>@Model.Message</p>
    }
}
else
{
    <form asp-action="ResetPassword" method="post">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <p>@Model.Message</p>
        }
        <input type="hidden" readonly class="form-control" asp-for="Token" />
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-1 col-form-label">Email</label>
            <v class="col-sm-11" style="max-width: 400px">
                <input type="email" readonly class="form-control" asp-for="Email" />
            </v>
        </div>
        <div class="form-group row">
            <label asp-for="NewPassword" class="col-sm-1 col-form-label">New Password</label>
            <div class="col-sm-11" style="max-width: 400px">
                <input type="password" class="form-control" asp-for="NewPassword" placeholder="Enter new password"  />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ConfirmPassword" class="col-sm-1 col-form-label">Confirm Password</label>
            <div class="col-sm-11" style="max-width: 400px">
                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Enter password again"  />
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}